
<div class="py-5">
  <div class="container">
    <div class="row">
      <r:root>
        <r:descendants:each labels="news">
          <div class="col-md-4 col-lg-6">
            <h2 class="wvu-shout wvu-bar text-wvu-blue"><r:page:name /></h2>
            <p><r:page:content name="backpage-content" /></p>
            <a class="btn btn-primary" href="<r:page:url />">Read More<span class="sr-only">: <r:page:name /></span></a>
          </div>
        </r:descendants:each>
      </r:root>
    </div><!-- .row -->
  </div><!-- .container -->
</div>
