.wvu-hero__container {
  @include make-container();
}
.wvu-hero {
  padding-bottom: $spacer * 5;
  padding-top: $spacer * 5;
  .wvu-hero__row {
    // Creates a wrapper for a series of columns
    @include make-row();
  }
  .wvu-hero__copy {
    @include make-col-ready();
    @include make-col(8);
  }

  h1 {
    @include wvu-shout();
    @include wvu-slash();
  }
}
